
@{
    ViewBag.Title = "Warning";
}

<h2>Warning</h2>
<hr />
<h2>請先註冊或者登入喔!!!!</h2>

@section topCSS{
    <style>

        body {
            background-color: #CDD5D1;
        }
    </style>
}